@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #2f3539;
  font-family: 'Roboto', sans-serif;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

/* total width */
::-webkit-scrollbar {
  height: 8px;
  width: 5px;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #94949a;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ababb0;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

.btn-custom:hover {
  opacity: 0.9;
}

.btn-custom:active {
  opacity: 0.8;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.fw-medium {
  font-weight: 500;
}
