.heroSection {
  height: 20rem;
  background-color: #1b1b1b;
}

.heroText {
  color: #3bb4ff;
  font-family: 'Poppins', sans-serif;
}

.subText {
  color: rgb(216, 227, 236);
}

.youTube {
  color: #ff0000;
  font-weight: 600;
}

.discord {
  color: #5865f2;
  font-weight: 600;
}

.heroImage {
  display: none;
}

@media (min-width: 992px) {
  .heroImage {
    display: flex;
  }
}
