.markdownRoot h1 {
  font-family: 'Poppins', sans-serif;
  margin: 2.5rem 0 2rem;
}

.markdownRoot h2 {
  font-family: 'Poppins', sans-serif;
  margin: 2rem 0 1.5rem;
}

.markdownRoot h3 {
  font-family: 'Poppins', sans-serif;
  margin: 1.5rem 0 1rem;
}

.markdownRoot h4 {
  font-family: 'Poppins', sans-serif;
}

.markdownRoot h5 {
  font-family: 'Poppins', sans-serif;
}

.markdownRoot h6 {
  font-family: 'Poppins', sans-serif;
}
